@tailwind base;
@tailwind components;
@tailwind utilities;

.sideBar > h1 {
  display: flex;
  align-items: center;
  padding: 7px;
  cursor: pointer;
}

.buttonList::-webkit-scrollbar,.sideBarMain::-webkit-scrollbar , body::-webkit-scrollbar, .comments::-webkit-scrollbar{
  display: none;
}
 

